* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:gilroy; */
}
html,
body {
    height: 100%;
    width: 100%; 
}

:root{
    --bg-primary-color: #232323;
    --text-primary-color: rgb(255, 255, 255);

    /* Spacing Values */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 42px;
    --space-3xl: 48px;

    /* Padding Values */
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 2rem ;

   /* Border Color */
   --border-color: #545353;

   /* Food Color */
   --bg-food-color: hsl(0, 100%, 50%);
    
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.snakeColor{
    background-color: hwb(0 54% 0%);
}

.foodColor{
    background-color: var(--bg-food-color);
}

main, section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--padding-sm);
}


.infos{
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: var(--padding-md);
}

.info{
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: var(--padding-md);
}

.board{
    border: 1px solid var(--border-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}        

.block{
    min-width: 50px;
    min-height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 50px;
}
button{
    padding: var(--padding-md) var(--padding-lg);
    border: none;
    border-radius: 999px;
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    transform: scale(1.1);
}
.modal1{
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal1, 
.start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}

.modal2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    display: none;
}

.modal2 
.gameover{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    display: none;
}
